.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
  border-bottom: 1px solid black;
  align-items: center;
  padding: 10px 20px;
}

.header p {
  text-transform: capitalize;
  color: MediumAquamarine;
  margin-left: 10px;
}

.header li {
  display: inline-flex;
  justify-content: space-around;
  width: 60px;
}

.header ul {
  padding-right: 40px;
}

.header a {
  color: black;
}

#logo {
  display: inline-flex;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.large {
  display: inline-flex;
  width: 630px;
  border: 1px solid black;
  flex-direction: column;
}

h1 {
  color: white;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

h2 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: black;
}

h3 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.top {
  border: 1px solid black;
}

.bottom {
  border: 1px solid black;
}

.left {
  border: 1px solid black;
}

.right {
  border: 1px solid black;
}

.medium {
  display: inline-flex;
  width: 300px;
  flex-direction: column;
  border: 1px solid black;
}

.small {
  display: inline-flex;
  width: 240px;
  flex-direction: column;
  border: 1px solid black;
}

#main {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  height: 300px;
}

#cats {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
  height: 300px;
}

#fall {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
  height: 300px;
}

#camera {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
  height: 300px;
}
