.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
  border-bottom: 1px solid black;
  align-items: center;
  padding: 10px 20px;
}

.header p {
  text-transform: capitalize;
  color: MediumAquamarine;
  margin-left: 10px;
}

.header li {
  display: inline-flex;
  justify-content: space-around;
  width: 60px;
}

.header ul {
  padding-right: 40px;
}

.header a {
  color: black;
}

#logo {
  display: inline-flex;
  align-items: center;
}
